.contato {
  background: #000;
}

.contato-container {
  max-width: 1200px;
  padding: 40px 20px;
  margin: 0 auto;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 100px;
}

.contato-texto {
  font-size: 1.225rem;
  color: #b8b8b8;
  max-width: 31ch;
  margin-top: 60px;
}

.direitos {
  color: #7A7A7A;
  margin-bottom: 40px;
}
.contato-info { 
  font-size: 2.225rem;
  display: grid;
  gap: 32px;
  color: #fff;
  margin-top: 60px;
}

a {
  color: #fff;
  text-decoration: none;
}

@media (max-width: 950px) {
  .contato-info {
    font-size: 2rem;
    gap: 28px;
  }
}

@media (max-width: 750px) {
  .contato-info {
    font-size: 1.5rem;
  }
}

@media (max-width: 750px) {
  .contato-info {
    font-size: 1.225rem;
  }
}

@media (max-width: 600px) {
  .contato-container {
    grid-template-columns: 1fr;
    gap: 16px;
  }
  .contato-info {
    display: grid;
    font-size: 1.225rem;
  }
}